<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCR</title>
    <link rel = "stylesheet" type="text/css" href="/style.css">    
</head>
<body>
    <div id = "header">
        <h1>
            UPLOAD YOUR IMAGE HERE!
        </h1>
    </div>
    <div id = "form">
        <form  method="POST" enctype="multipart/form-data" action="/">
            <input type="file" name="uploaded">
            <button type="submit">
                Submit!
            </button>
        </form>
        </div>
</body>
</html>